# Virtual Environment
venv/
env/
ENV/
.venv/
.env/

# Python cache files
__pycache__/
*.py[cod]
*.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Local configuration
.env
